<div class="title-container">
    <h1 class="">{{this.item}}</h1>
</div>
<div class="content">
	<div class="time"><i>{{time}}</i></div>
    <div>type: {{{this.type}}}</div>
    <div>required job(s): <p>{{{this.jobs}}}</p></div>
    <div>price: {{{this.price}}} mesos</div>
    <div>seller: {{{this.ign}}}</div>
</div>

<script src="http://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js" type="text/javascript"></script><script type="text/javascript">
</script>